body{
    margin: 0;
    padding: 0;
    /* background-color: rgb(218, 218, 218); */
}
.code{
    background-color:whitesmoke;
    width: 300px;
    height: 450px;
    position: absolute;
    margin: auto;
    inset: 0;
    border-radius: 10px;
    box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
}
.qr-img{
    padding: 10px;

}
.qr-img img{
    width: 100%;
    border-radius: 10px;
}
.code h3 {
    padding: 10px;
    margin: 0;
    text-align: center;
    font-weight: 900;

    

}
.code p{
    color:rgb(150, 147, 147) ;
    padding: 10px;
    text-align: center;
    margin: 0;

   
}